asgiref==3.11.1
brotli==1.2.0
dj-database-url==3.1.2
Django==6.0.2
django-pwa==2.0.1
django-webpack-loader==3.2.3
gunicorn==25.3.0
numpy==2.4.1
packaging==26.1
pandas==2.2.3
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.1
whitenoise==6.12.0
