{% extends "base.html" %}

{% block title %}WPM Hero | Profile{% endblock %}

{% block content %}
<a href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
<h2>Total Tests Taken: {{ tests_count }} </h2>
<h2>Total Time Spent: {{ total_time }} seconds </h2>

<hr>
<h2>Personal Records</h2>

{% if personal_records %}
<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Difficulty</th>
            <th>Timer</th>
            <th>Highest WPM</th>
        </tr>
    </thead>
    <tbody>
        {% for record in personal_records %}
        <tr>
            <td>{{ record.test__text__difficulty|title }}</td>
            <td>{{ record.test__duration_seconds }} seconds</td>
            <td>{{ record.best_wpm }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No personal records yet.</p>
{% endif %}

<hr>
<h2>Overall Performance Metrics</h2>

{% if overall_metrics %}
<table border="1" cellpadding="10" cellspacing="0" style="font-size:1.1rem; width:240px; table-layout:fixed; border-width:2px;">
    <colgroup>
        <col style="width:120px;">  
        <col style="width:120px;">   
    </colgroup>
    <thead>
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highest WPM</td>
            <td>{{ overall_metrics.highest_wpm|default:"N/A" }}</td>
        </tr>
        <tr>
            <td>Average WPM</td>
            <td>{{ overall_metrics.average_wpm|floatformat:2|default:"N/A" }}</td>
        </tr>
        <tr>
            <td>Highest Accuracy</td>
            <td>{{ overall_metrics.highest_accuracy|default:"N/A" }}%</td>
        </tr>
        <tr>
            <td>Average Accuracy</td>
            <td>{{ overall_metrics.average_accuracy|floatformat:2|default:"N/A" }}%</td>
        </tr>
    </tbody>
</table>
{% else %}
<p>No Performance Metrics yet.</p>
{% endif %}

{% endblock %}