@font-face {
    font-family: futura;
    src: url('static/futura-pt/FuturaCyrillicLight.ttf');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px 50px 10px;
    background-color: #1e1b1c;
    color: #ffffff;
    font-family: futura;
    font-size: 24px;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo-hero {
    color: #8f1816;
}


.top-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bc9821;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700;
  width: 8rem;
  height: 5rem;
  border-radius: 30%;
  border-style: ridge;
  border-color: #acacac;
  border-width: 0.5rem;
  letter-spacing: -0.02em;
}

.panel-wpm {
    text-align: right;
    width: 200px;
}

.panel-accuracy {
    text-align: left;
    width: 120px;
}

#wpm {
    font-size: 2rem;
}

#accuracy {
    font-size: 2rem;
}

#typing-wrapper {
    padding: 2rem;
    position: relative;
    font-size: 1.5rem;
    line-height: 3rem;
}

#typing-input {
    position: absolute;
    opacity: 0;       
    pointer-events: none;
    z-index: -1;
}

.char{
    color: gray;
    display: inline-block;
    letter-spacing: -7px;
}


